.form-component {
  $background-color: #fff;
  $focused-color: blue;
  $disabled-color: #f9f9f9;
  $right-icon-padding: 35px;

  position: relative;
  padding: 1px;
  display: block;
  width: 100%;
  line-height: 1.42857143;
  color: #555;
  font-size: 15px;
  box-shadow: none;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #BCD0DF;

  &__wrapper {
    width: 100%;
  }

  & > input {
    padding: 0 16px;
    box-shadow: none;
    border: none;
    outline: none;
    height: 56px;
    width: calc(100% - 32px);
    border-radius: 8px;
    font-family: Source Sans Pro;
    font-size: 18px;
    color: #477EA8;
    text-align: left;
    line-height: 24px;
    &[disabled] {
      background-color: $disabled-color;
      cursor: not-allowed;
    }
  }
 }