.abstract-autocomplete {
  position: relative;
  width: 100%;

  &__options {
    width: calc(100% + 2px);
    position: absolute;
    z-index: 10;
    left: 0;
    top: 65px;
    overflow-y: auto;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;

    background: #FFFFFF;
    border: 1px solid #BCD0DF;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.10);

    &-is-big {
      top: 60px
    }
  }
  &__option {
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
    font-family: SourceSansPro-Regular;
    font-size: 18px;
    color: #576876;
    text-align: left;
    line-height: 24px;
  }

  &__option_selected {
    background: #F2F9FF;
    cursor: pointer;
  }

  &__clear-icon {
    cursor: pointer;
  }

  &__loader {
    width: 30px;
    height: 30px;
    background: url('./images/loader.gif') no-repeat;
    background-size: contain;
    position: absolute;
    right: 8px;
    top: 16px;
  }

  &__focused {
    background: #FFFFFF !important;
    border: 1px solid #BCD0DF !important;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.10) !important;
  }
}